name: CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - uses: actions/checkout@v3
        name: Checkout code
      - uses: actions/setup-node@v4
        name: Use Node.js ${{ matrix.node-version }}
        with:
          node-version: ${{ matrix.node-version }}

      - name: npm install
        run: npm ci

      - name: check lint
        run: npm run lint

      - name: unit test
        run: npm run test:cov

      - name: e2e test
        run: |
          docker-compose -f "docker-compose.yml" up -d
          npm run test:e2e
          docker-compose -f "docker-compose.yml" down

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
