name: CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x]
    steps:
      - uses: actions/checkout@v2
        name: Checkout code
      - uses: actions/setup-node@v2
        name: Use Node.js ${{ matrix.node-version }}
        with:
          node-version: ${{ matrix.node-version }}

      - name: npm install
        run: npm ci

      - name: check lint
        run: npm run lint

      - name: unit test
        run: npm run test:cov

      - name: e2e test
        run: |
          npm run set |
          npm run test:e2e |
          npm run set:down

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
